# Archivos temporales de Buildozer
.buildozer/
.buildozer_global/
bin/

# Entornos virtuales locales
venv/
env/
.venv/

# Caches de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos ocultos del sistema u editores
.DS_Store
.idea/
.vscode/
